<form action = "/square/results">

  <div> 
    <label for="user_number">Enter a Number</label>
    <input id="user_number" text="text" name="number" placeholder ="What number do you want to take the square off?">
  </div>

  <button>
    Calculate Square
  </button>

</form>